name: build

on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.16.3'

      - name: Run unit tests
        working-directory: ./
        run: go test -v ./...

      - name: Build
        working-directory: ./
        run: go build -v .
